<!DOCTYPE html>
<html>
	<head>
		<title>Ganalyze Report</title>
	</head>
	<body>
		<h1>Files Examined:</h1>
		<ul>
		{{ range .LinkName }}
			<li><a href={{ .Link }}>{{ .Name }}</a></li>
		{{ end }}
		</ul>
	</body>
</html>
